<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="ISO-8859-1">
<head>
<title>Insert title here</title>
</head>
<body>
	<div class="modal-bar" th:fragment="menu">
    <div class="modal-bar-body">

        <div class="close-bar">
            <i class="fas fa-window-close close-bar"></i>
        </div>
        <ul class="body-list">
            <li class="body-list-item"> 
                <a href="/home">Trang chủ</a>
            </li>
            <li class="body-list-item">
                <a href="/cam-nang">Cẩm nang</a>    
            </li>
          
            <h2>Về Booking Care</h2>
            <li class="body-list-item">
                <a href="/danh-cho-benh-nhan">Dành Cho Bệnh Nhân </a>
            </li>
            <li class="body-list-item">
                <a href="./danhchobacsi.html">Dành Cho Bác Sĩ</a>
            </li>
            <li class="body-list-item">
                <a href="/vai-tro">Vai Trò Booking Care</a>
            </li>
            <li class="body-list-item">
                <a href="/lien-he">Liện Hệ</a> 
            </li>
            <li class="body-list-item">
                <a href="">
                    Câu Hỏi Thường Gặp
                </a> </li>
            <li class="body-list-item">
                <a href="/dieu-khoan">Điều Khoản sử dụng</a>
             </li>
            <li class="body-list-item"> 
                <a href="/khieu-nai">Quy trình giải quyết khiếu nại</a>
            </li>
            
        </ul>
    </div>
</div>
</body>
</html>