<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head >
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div class="slider" th:fragment="slider">
            <div class="slider-content">
                <h3 class="slider_content-heading">Nền Tảng  Y Tế</h3>
                <p>Chăm Sóc Sức Khỏe Toàn Diện   </p>
               <!--  <div class="slider-input">
                    <input type="text" class="input-slider  " placeholder="Search here...">
                    <button class="header__search-btn">
                        <i class="fas  header__search-btn-icon fa-search"></i>
                    </button>
                </div> -->

            </div>
        </div>
</body>
</html>