<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/masterLayout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Quy trình gải quyết khiếu nại</title>
<link rel="stylesheet" th:href="@{/client/css/duoiSlider.css}">
</head>
<body>

	<div class="content__search" layout:fragment="content">
          <div class="content__search-heading">
                <a href="./index.html" class="fas fa-arrow-left icons-back"></a>
                <p>Giải quyết Khiếu nại </p>
            </div>
            <h2 class="heading-danh-cho-benh-nhan">
               Quy trình  Giải quyết khiếu nại
            </h2>

            <div class="content-kn">
                <p>Bookingcare.vn và Phòng khám/ Bác sĩ có trách nhiệm tiếp nhận khiếu nại và hỗ trợ khách hàng liên quan đến giao dịch tại Website Bookingcare.vn.</p>
                <p>Khi phát sinh tranh chấp, Công ty đề cao giải pháp thương lượng, hòa giải giữa các bên nhằm duy trì sự tin cậy của thành viên vào chất lượng dịch vụ của Bookingcare.vn và thực hiện theo các bước sau:</p>

                <ul class="list-kn">
                    <li class="list-kn-item">Bước 1:Thành viên khách hàng khiếu nại về dịch vụ của phòng khám/ bệnh viện qua email: support@Bookingcare.vn</li>
                    <li class="list-kn-item">Bước 2: Bộ phận Chăm sóc Khách hàng của Bookingcare.vn sẽ tiếp nhận các khiếu nại của thành viên khách hàng, tùy theo tính chất và mức độ của khiếu nại thì bên Bookingcare.vn sẽ có những biện pháp cụ thể hỗ trợ khách hàng để giải quyết tranh chấp đó.</li>
                    <li class="list-kn-item">Bước 3: Trong trường hợp nằm ngoài khả năng và thẩm quyền của Bookingcare.vn thì ban quản trị sẽ yêu cầu khách hàng đưa vụ việc này ra cơ quan nhà nước có thẩm quyền giải quyết theo pháp luật.</li>
                </ul>

                <h2>Khách hàng gửi khiếu nại tại địa chỉ : </h2>

                <ul class="list-kn">
                    <li class="list-kn-item">Công Ty Cổ Phần Công Nghệ BookingCare</li>
                    <li class="list-kn-item">Địa chỉ: 28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội</li>
                    <li class="list-kn-item">Địa chỉ: 28 Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội</li>
                </ul>

                <p>Khách hàng có thể gửi thông tin khiếu nại trực tiếp theo thông tin tại mục,. Thông tin của khách hàng sẽ được gửi đến ban quản trị  Bookingcare.vn. Trong thời gian sớm nhất có thể ban quản trị Bookingcare.vn sẽ có email phải hồi lại ý kiến phản ánh của khách hàng.  </p>
                <p>Bookingcare.vn tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi của khách hàng (người tiêu dùng). Vì vậy, đề nghị các thành viên đăng tin dịch vụ trên sàn cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến dịch vụ. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
                <p>Các bên bao gồm Phòng khám, khách hàng sẽ phải có vai trò trách nhiệm trong việc tích cực giải quyết vấn đề. Đối với Phòng khám cần có trách nhiệm cung cấp văn bản giấy tờ chứng thực thông tin liên quan đến sự việc đang gây mâu thuẫn cho khách hàng. Đối với Bookingcare.vn sẽ có trách cung cấp những thông tin liên quan đến khách hàng và Phòng khám nếu được khách hàng hoặc Phòng khám (liên quan đến tranh chấp đó) yêu cầu.</p>
                <p>Tùy theo mức độ vi phạm của Phòng khám, Ban quản trị sẽ quyết định gõ bỏ toàn bộ thông tin của Phòng khám đó, đồng thời sẽ chấm dứt quyền thành viên.</p>

            </div>
      
   
	</div>
	<div class="space"></div>


</body>
</html>