<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/masterLayout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Dành cho bệnh nhân</title>
<link rel="stylesheet" th:href="@{/client/css/duoiSlider.css}">
</head>
<body>

	<div class="content__search" layout:fragment="content">
            <div class="content__search-heading">
                <a href="./index.html" class="fas fa-arrow-left icons-back"></a>
                <p>Dành Cho bệnh Nhân </p>
            </div>
            <h2 class="heading-danh-cho-benh-nhan">
                Có phải bạn  hoặc người thân đang....
            </h2>

            <ul class="danh-benhnhan-list">
                <li class="danh-benhnhan-item"> Gặp vấn đề về sức khoẻ nhưng không biết đi khám ở đâu, bác sĩ nào thì phù hợp?</li>
                <li class="danh-benhnhan-item"> Đã đi khám nhiều nơi, nhiều bác sĩ mà bệnh không khỏi?</li>
                <li class="danh-benhnhan-item"> Băn khoăn không biết bác sĩ có giỏi không, kinh nghiệm khám chữa bệnh như thế nào?</li>
                <li class="danh-benhnhan-item"> Thông tin về quá trình đào tạo, kinh nghiệm công tác của bác sĩ
                    có chính xác không?</li>
                <li class="danh-benhnhan-item"> Liệu lịch khám, nơi khám của bác sĩ có phù hợp với thời gian, kế hoạch của mình không?</li>
                <li class="danh-benhnhan-item"> Liệu nơi khám bệnh có đầy đủ trang thiết bị hay không?
                    Giá khám và chụp chiếu xét nghiệm cụ thể như thế nào?</li>
            </ul>

            <h2 class="heading-content">
                Tại sao BookingCare lại giải quyết được vấn đề của bạn?
            </h2>

            <div class="content-item">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="fas fa-user"></i>
                                <h3 class="text">Bác sĩ uy tín</h3>
                                <p class="des-text"> Mạng lưới bác sĩ chuyên khoa giỏi đã/đang công tác tại các viện lớn hàng đầu,
                                    với thông tin đã xác thực.</p>
                            </div>
                        </div>

                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="fas fa-check"></i>
                                <h3 class="text">Đúng Người Đúng Bệnh </h3>
                                <p class="des-text"> Mạng lưới bác sĩ chuyên khoa giỏi đã/đang công tác tại các viện lớn hàng đầu,
                                    với thông tin đã xác thực.</p>
                            </div>
                        </div>

                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="fas fa-headphones-alt"></i>
                                <h3 class="text">Hỗ Trợ Chu Đáo</h3>
                                <p class="des-text"> Đầy đủ các chuyên khoa, thông tin bác sĩ chi tiết,
                                    các bài hướng dẫn dễ hiểu, người bệnh dễ dàng lựa chọn bác sĩ phù hợp.</p>
                            </div>
                        </div>

                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="fas fa-clock"></i>
                                <h3 class="text">Đặt Lịch 24/7</h3>
                                <p class="des-text">  Chúng tôi hỗ trợ bệnh nhân trong suốt quá trình trước khám,
                                    trong khi đi khám và sau khi đi khám một cách hiệu quả.</p>
                            </div>
                        </div>

                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="far fa-heart"></i>
                                <h3 class="text">Khám Lại miễn Phí</h3>
                                <p class="des-text">  Đặt khám qua BookingCare là miễn phí đặt lịch. Chi phí khám chữa
                                    bệnh, bạn thanh toán trực tiếp tại nơi khám.</p>
                            </div>
                        </div>

                        <div class="col l-4 m-6 c-12">
                            <div class="content-body">
                                <i class="fas fa-piggy-bank"></i>
                                <h3 class="text">Miễn Phí Đặt lịch</h3>
                                <p class="des-text">  Đặt khám qua BookingCare là miễn phí đặt lịch. Chi phí khám chữa
                                    bệnh, bạn thanh toán trực tiếp tại nơi khám.</p>
                            </div>
                        </div>
                    </div>

                    <h2 class="heading-heading">Lợi ích đặt lịch khám thông qua BookingCare</h2>
                    <div class="row">
                        <div class="col l-4">
                            <ul class="list-benefit">
                                <li class="list-benefit-item">
                                    <strong>Bác Sĩ</strong>
                                </li>
                                <li class="list-benefit-item">Bác sĩ </li>
                                <li class="list-benefit-item">Đi Khám</li>
                                <li class="list-benefit-item">Quyền Lợi người bênh</li>
                                <li class="list-benefit-item">Đặt Lịch</li>
                                <li class="list-benefit-item">Giá Khám</li>
                                <li class="list-benefit-item">Thời Gian Chờ</li>
                            </ul>
                        </div>
                        <div class="col l-4">
                            <ul class="list-benefit">
                                <li class="list-benefit-item">
                                <strong>Đặt lịch thông qua BôkingCare</strong>     
                                </li>
                                <li class="list-benefit-item">Bác sĩ </li>
                                <li class="list-benefit-item">Đi Khám</li>
                                <li class="list-benefit-item">Quyền Lợi người bênh</li>
                                <li class="list-benefit-item">Đặt Lịch</li>
                                <li class="list-benefit-item">Giá Khám</li>
                                <li class="list-benefit-item">Thời Gian Chờ</li>
                            </ul>
                        </div>
                        <div class="col l-4">
                            <ul class="list-benefit">
                                <li class="list-benefit-item">
                                    <strong>Đặt trực tiếp tại bệnh viện</strong> </li>
                                <li class="list-benefit-item">Bác sĩ </li>
                                <li class="list-benefit-item">Đi Khám</li>
                                <li class="list-benefit-item">Quyền Lợi người bênh</li>
                                <li class="list-benefit-item">Đặt Lịch</li>
                                <li class="list-benefit-item">Giá Khám</li>
                                <li class="list-benefit-item">Thời Gian Chờ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
   
	</div>
	<div class="space"></div>


</body>
</html>