<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/masterLayout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Liên hệ</title>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<!-- https://cdnjs.com/libraries/stomp.js/ -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
 <link rel="stylesheet" th:href="@{/admin/assets/css/managerChat.css}">
    
</head>
<body>

	<div class="content__search" layout:fragment="content">
          <div class="container">
		<div class="row clearfix">
			<div class="col-lg-12">
				<div class="card chat-app">
					<div id="plist" class="people-list">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-search"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Search...">
						</div>
						<ul class="list-unstyled chat-list mt-2 mb-0" id="showLstUser">
						
							<th:block th:each="item : ${lstInteractive}" >
   								<li class="clearfix searchMesssage"   ><img
								th:src="${item.img}"
								alt="avatar"/>
								<div class="about">
									<div class="name"  th:utext="${item.fullName}"></div>
									<div class="status" th:utext="${item.lastMessage}">
										<i class="fa fa-circle offline"></i> 
									</div>
								</div>
								<input th:value="${item.userId}" class= "idUser" type="hidden" ></input>
							</li>
							</th:block>
							
						</ul>
					</div>
					<div class="chat">
						<div class="chat-header clearfix">
							<div class="row">
								<div class="col-lg-6">
									<a href="javascript:void(0);" data-toggle="modal"
										data-target="#view_info"> <img
										src="https://bootdey.com/img/Content/avatar/avatar2.png" id="avatar"
										alt="avatar">
									</a>
									<div class="chat-about">
										<h6 class="m-b-0" id="userName">Aiden Chavez</h6>
										<small>Last seen: 2 hours ago</small>
									</div>
								</div>
								<div class="col-lg-6 hidden-sm text-right">
									<a href="javascript:void(0);" class="btn btn-outline-secondary"><i
										class="fa fa-camera"></i></a> <a href="javascript:void(0);"
										class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
									<a href="javascript:void(0);" class="btn btn-outline-info"><i
										class="fa fa-cogs"></i></a> <a href="javascript:void(0);"
										class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
								</div>
							</div>
						</div>
						<div class="chat-history" style=" max-height:500px;overflow-y: scroll; min-height:400px">
							<ul id="elementChat" class="m-b-0">
								<li class="clearfix" id="showMessage">
									<div class="message-data text-right">
										<span class="message-data-time">10:10 AM, Today</span> <img
											src="https://bootdey.com/img/Content/avatar/avatar7.png"
											alt="avatar">
									</div>
									<div class="message other-message float-right" >Hi Aiden,
										how are you? How is the project coming along?</div>
								</li>
								<li class="clearfix" id="showMessage">
									<div class="message-data">
										<span class="message-data-time">10:12 AM, Today</span>
									</div>
									<div class="message my-message">Are we meeting today?</div>
								</li>
								<li class="clearfix" id="showMessage">
									<div class="message-data">
										<span class="message-data-time">10:15 AM, Today</span>
									</div>
									<div class="message my-message">Project has been already
										finished and I have results to show you.</div>
								</li>
							</ul>
						</div>
						<div class="chat-message clearfix">
							<form id="messageFormServer" name="messageFormServer">
								<div class="input-group mb-0">
									<div class="input-group-prepend">
										<button class="input-group-text" type="submit">
											<i class="fa fa-send"></i>
										</button>
										<!--     <span class="input-group-text"><i class="fa fa-send"></i></span> -->
									</div>
									<input type="text" class="form-control"
										placeholder="Enter text here..." id="messageInputServer">
								</div>
							</form>
						 	<button id="btnCallServer"><i class='fas fa-video' style='color:#3993f3'></i></button>
							<button id="btnCloseServer">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   
	</div>
	<div class="space"></div>
  <script layout:fragment="js" th:src="@{/client/js/messageClient.js}"></script>

</body>
</html>