<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/masterLayout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Vai trò</title>
<link rel="stylesheet" th:href="@{/client/css/duoiSlider.css}">
</head>
<body>

	<div class="content__search" layout:fragment="content">
           <div class="content__search-heading">
                <a href="./index.html" class="fas fa-arrow-left icons-back"></a>
                <p>Vai Trò Của BookingCare </p>
            </div>
            <h2 class="heading-danh-cho-benh-nhan">
                Bác Sĩ Uy Tín
            </h2>

            <div class="content-kn">
                <p>BookingCare giúp bệnh nhân dễ dàng lựa chọn đúng bác sĩ từ mạng lưới bác sĩ chuyên khoa giỏi, với thông tin đã xác thực và đặt lịch nhanh chóng.</p>
                <p>Bác sĩ chuyên khoa giỏi, được nhiều bệnh nhân tin tưởng, đồng nghiệp đánh giá cao, có uy tín trong ngành.</p>
                <p>Các bác sĩ đã, đang công tác tại các bệnh viện hàng đầu như: Bệnh viện Bạch Mai, Bệnh Viện Việt Đức, Bệnh viện TW Quân đội 108, Bệnh viện Quân Y 103, Bệnh viện Nhi TW, Bệnh viện Tai Mũi Họng TW, Viện Tim mạch Việt Nam, Bệnh viện Chợ Rẫy, Bệnh viện Đại học Y dược TP.HCM, Bệnh viện Nhân dân 115… </p>
                <p>Bookingcare.vn tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi của khách hàng (người tiêu dùng). Vì vậy, đề nghị các thành viên đăng tin dịch vụ trên sàn cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến dịch vụ. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
                <p>Các bên bao gồm Phòng khám, khách hàng sẽ phải có vai trò trách nhiệm trong việc tích cực giải quyết vấn đề. Đối với Phòng khám cần có trách nhiệm cung cấp văn bản giấy tờ chứng thực thông tin liên quan đến sự việc đang gây mâu thuẫn cho khách hàng. Đối với Bookingcare.vn sẽ có trách cung cấp những thông tin liên quan đến khách hàng và Phòng khám nếu được khách hàng hoặc Phòng khám (liên quan đến tranh chấp đó) yêu cầu.</p>
                <p>Bên cạnh đó, hệ thống ghi nhận ý kiến đánh giá phản hồi của bệnh nhân sau khi đi khám và phương án điều trị của từng bác sĩ. Từ đó chúng tôi có thêm thông tin để giới thiệu trên hệ thống những bác sĩ uy tín, chuyên môn cao.</p>

            </div>
   
	</div>
	<div class="space"></div>


</body>
</html>